body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    color: #fff;
    font-family: 'Arial', sans-serif;
    user-select: none;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#game-area {
    position: relative;
    width: 100%;
    height: 100%;
}

#player {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.player-attack-range {
    position: absolute;
    border: 2px dashed rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
}

.enemy {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #e74c3c;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.1s linear, top 0.1s linear;
}

.rare-enemy {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ff251e;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.1s linear, top 0.1s linear;
}

.elite {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ff2b13d0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.1s linear, top 0.1s linear;
}

.boss {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #970000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.1s linear, top 0.1s linear;
}

.enemy-health-bar {
    position: absolute;
    bottom: 110%; /* Move above the enemy */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background-color: #333;
    border-radius: 3px;
}

.enemy-health-bar-fill {
    width: 100%;
    height: 100%;
    background-color: #e74c3c;
    border-radius: 3px;
}

#exp-bar {
    bottom: 10px;
    position: absolute;
    width: 95%;
    height: 20px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

#hp-bar {
    position: relative;
    width: 150px;
    height: 20px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

#exp-bar-fill, #hp-bar-fill {
    height: 100%;
    border-radius: 10px;
}

#exp-bar-fill {
    background-color: #4caf50;
    transition: width 0.5s ease-in-out;
}

#hp-bar-fill {
    background-color: #f44336;
    transition: width 0.5s ease-in-out;
}

#exp-value, #hp-value {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

#timer {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px; /* Move to the right */
}

#player-stats {
    position: relative;
    font-size: 14px;
    display: inline-flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}

#player-stats > div {
    margin: 2px;
}

#level {
    font-size: 16px;
    font-weight: bold;
}

#game-ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevent interactions when paused */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10; /* Ensure UI is above other elements */
}

#pause-overlay, #game-over-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#ability-choices-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    pointer-events: auto;
}

.ability-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.stats-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.stats-button:hover {
    background-color: #2980b9;
}

.ability-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #98d375;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ability-button:hover {
    background-color: #80cc54;
}

#restart-button {
    display: none;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

#restart-button:hover {
    background-color: #2980b9;
}

/* CSS for bullet effect */
.bullet-effect {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red; /* Color of the bullet */
    border-radius: 50%; /* Makes it circular */
    transform: translate(-50%, -50%); /* Center bullet on the cursor */
    pointer-events: none; /* Prevents bullet from blocking clicks */
    z-index: 10; /* Ensure it appears above other elements */
}